<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-item lines="none">
        <ion-title>Añadir/Modificar Productos</ion-title>
        <ion-button fill="clear" (click)="closeModal()" slot="end"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
      </ion-item></ion-col>
    </ion-row>
 <!--    <ion-row>
      <ion-col><ion-item><ion-input type="text" name="id" placeholder="id" autofocus [(ngModel)]="card.id_carta"></ion-input></ion-item></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col><ion-item><ion-label>Producto:</ion-label><ion-input type="text" name="producto" placeholder="Nombre del producto" [(ngModel)]="producto.producto"></ion-input></ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Apto para vegetarianos:</ion-label>
          <ion-select name="tipoveg" placeholder="Elija uno" [(ngModel)]="producto.tipoveg">
            <ion-select-option [value]="1">No apto</ion-select-option>
            <ion-select-option [value]="2">Vegetariano</ion-select-option>
            <ion-select-option [value]="3">Vegano</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col><ion-item><ion-label>Contiene gluten:</ion-label><ion-checkbox [(ngModel)]="gluten"></ion-checkbox></ion-item></ion-col>
    </ion-row>
<!--     <ion-row>
      <ion-col><ion-item><ion-label>Contiene gluten:</ion-label><ion-checkbox [(ngModel)]="gluten"></ion-checkbox></ion-item></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col><ion-item><ion-label>Descripción:</ion-label><ion-textarea name="descripcion" placeholder="Escriba la descripción" rows="5" [(ngModel)]="producto.descripcion"></ion-textarea></ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item><ion-label>Precio:</ion-label><ion-input type="number" name="precio" placeholder="Escriba el precio del producto" [(ngModel)]="producto.precio"></ion-input><ion-label>€</ion-label></ion-item></ion-col>
    </ion-row>
<!--     <ion-row>
      <ion-col>   
        <input style="display: none" [(ngModel)]="card.hora_inicio" [ngxTimepicker]="picker1" #timeImput1>        
        <ngx-material-timepicker #picker1></ngx-material-timepicker><ion-item><ion-input type="text" name="Hora inicio" placeholder="Hora Inicio" [(ngModel)]="card.hora_inicio"></ion-input><ion-button fill="clear" (click)="timeImput1.click()"><ion-icon slot="icon-only" name="time-outline"></ion-icon></ion-button></ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>   
        <input style="display: none" [(ngModel)]="card.hora_fin" [ngxTimepicker]="picker2" #timeImput2>        
        <ngx-material-timepicker #picker2></ngx-material-timepicker><ion-item><ion-input type="text" name="Hora Fin" placeholder="Hora Fin" [(ngModel)]="card.hora_fin"></ion-input><ion-button fill="clear" (click)="timeImput2.click()"><ion-icon slot="icon-only" name="time-outline"></ion-icon></ion-button></ion-item></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item lines="none"><input type="file" (change)="onFileSelected($event)"></ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
 <!--    <dx-list>
    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
      <dxi-item dataField="id_carta"></dxi-item>
      <dxi-item dataField="nombre"></dxi-item>
      <dxi-item dataField="horario"></dxi-item>
      <dxi-item
          dataField="descripcion"
          editorType="dxTextArea"
          [colSpan]="2"
          [editorOptions]="{ height: 100 }">
      </dxi-item>
  </dxi-item>
</dx-label> -->
  </ion-grid>
  <ion-button class="botonfiltro" expand="full" color="primary" (click)="edit ? updateProduct() : saveNewProduct()"><p id="textofiltrar">Aceptar</p></ion-button>
</ion-card-content>
