
   <ion-grid>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-button (click)="closeModal()" slot="end"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-card-content>
    <img class="imagen" src="{{card.imagen}}"/>
    <ion-card-header>
      <ion-card-title>{{card.nombre}}</ion-card-title>
      <ion-card-subtitle>{{card.horario}}</ion-card-subtitle>
   </ion-card-header>
    <ion-card-content>{{card.descripcion}}</ion-card-content>
  </ion-card-content>
  </ion-grid>
  
  
  
  