<ion-content>

  <div class="contenido">

    <div class="ctexto">


      <!--     <div class="principal">
      
      <div class="mantenimiento">
        <div class="headermantenimiento">
          <p class="tipoobjeto">Cartas</p>
          <div class="espacioicono"></div>            
          <a (click)="addModal()"><ion-icon class="iconmant" src="./assets/add_button.svg"></ion-icon></a>
        </div>

        <div class="bodymantenimiento">

          <ion-card class="ccards" [disabled]="false" *ngFor="let card of cards" cdkDrag>
            <div class="iconoscard">
              <div class="iconoposicion">
                <ion-input [disabled]="true" class="iposicion" type="text" name="posicion">{{card.posicion}}</ion-input>
              </div>
              <div class="iconoseb">
                <a (click)="editModal(this.card.id_carta)"><ion-icon class="iconmant espacioiconos" src="./assets/edit_button.svg"></ion-icon></a>
                <a (click)="deleteCard(card.id_carta)"><ion-icon class="iconmant" src="./assets/delete_button.svg"></ion-icon></a>
              </div>
            </div>

            <a (click)="viewModal(this.card.id_carta)"><img class="cardimage" src="{{card.imagen}}"/> </a>

            <ion-card-header>
              <ion-card-title class="nombreobjeto">{{card.nombre}}</ion-card-title>
              <ion-card-subtitle class="activoobjeto">{{card.horario}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>

        </div>

      </div> -->
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div>

             

              <p></p>
              <!--         <dx-form  id="form"
            [(formData)]="cards[grid.focusedRowIndex]"
            [readOnly]="false"
            [showColonAfterLabel]="true"
            [labelLocation]="'top'"
            [colCount]="3"
      ></dx-form> -->

              <p></p>

              <dx-data-grid #grid1 id="gridContainer" [dataSource]="cards" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                [keyExpr]="['id_carta']" [focusedRowEnabled]="true" [(focusedRowIndex)]="focusedRowKey"
                [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
                (onFocusedRowChanged)="getProductsByCard(cards[focusedRowKey].id_carta)"
                (onToolbarPreparing)="onToolbarPreparing($event)">

                <dxo-editing mode="popup">
                </dxo-editing>


                <dxo-paging [pageSize]="10"></dxo-paging>
                <!--     <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager> -->
   
<!--     <dxo-group-panel [visible]="true" emptyPanelText="Mantenimiento Cartas"></dxo-group-panel> -->
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..."></dxo-search-panel>

                <dxi-column dataField="id_carta" dataType="number" width="100px"></dxi-column>
                <dxi-column dataField="imagen" cellTemplate="cellTemplate" width="70px" height="48px"></dxi-column>
                <dxi-column dataField="nombre" dataType="string"></dxi-column>
                <dxi-column dataField="descripcion" dataType="string"></dxi-column>

                <div *dxTemplate="let cell of 'cellTemplate'">
                  <img width="60px" height="48px" [src]="cell.value" />
                </div>

              </dx-data-grid>



            </div>
          </ion-col>

          <ion-col size="4">
            <div>

              <p></p>
              <!--     <dx-form  id="form"
        [(formData)]="products[grid2.focusedRowIndex]"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [labelLocation]="'top'"
        [colCount]="3"
  ></dx-form> -->

              <p></p>

              <dx-data-grid #grid2 id="gridContainer2" [dataSource]="products" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                [keyExpr]="['id_producto']" [focusedRowEnabled]="true" [(focusedRowIndex)]="focusedRowKey2"
                [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
                (onToolbarPreparing)="onToolbarPreparing($event)">

                <dxo-row-dragging [data]="allProducts" group="tasksGroup" [onAdd]="onAdd" [onDragStart]="onDisableDrag"
                  [showDragIcons]="false"></dxo-row-dragging>

                <dxo-editing mode="popup">
                  <!-- 'batch' | 'cell' | 'form' | 'popup' -->
                </dxo-editing>

                <!-- <dxo-group-panel [visible]="true" [style.pointerEvents]="'none'" emptyPanelText="Mantenimiento Carta-Productos"></dxo-group-panel> -->

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..."></dxo-search-panel>

                <dxi-column dataField="id_producto" dataType="number" width="100px"></dxi-column>
                <dxi-column dataField="imagen" cellTemplate="cellTemplate" width="70px" height="48px"></dxi-column>
                <dxi-column dataField="producto" dataType="string"></dxi-column>
                <dxi-column dataField="descripcion" dataType="string"></dxi-column>

                <div *dxTemplate="let cell of 'cellTemplate'">
                  <img width="60px" height="48px" [src]="cell.value" />
                </div>

              </dx-data-grid>



            </div>
          </ion-col>

          <ion-col size="4">
            <div>

              <p></p>
              <!--     <dx-form  id="form"
        [(formData)]="cards[grid.focusedRowIndex]"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [labelLocation]="'top'"
        [colCount]="3"
  ></dx-form> -->

              <p></p>

              <dx-data-grid #grid3 id="gridContainer3" [dataSource]="allProducts" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                [keyExpr]="['id_producto']" [focusedRowEnabled]="true" [(selectedRowKeys)]="gridBoxValue"
                [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow" [selection]="{ mode: 'multiple' }">

                <dxo-row-dragging [data]="allProducts" group="tasksGroup" [onDragStart]="onDragStart">
                </dxo-row-dragging>
                <!-- clone = true -->

                <dxo-editing mode="popup">
                  <!-- 'batch' | 'cell' | 'form' | 'popup' -->
                </dxo-editing>
<!-- 
                <dxo-group-panel [visible]="true" emptyPanelText="Mantenimiento Productos"></dxo-group-panel> -->

                <dxo-paging [pageSize]="10"></dxo-paging>

                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..."></dxo-search-panel>

                <dxi-column dataField="id_producto" dataType="number" width="100px"></dxi-column>
                <dxi-column dataField="imagen" cellTemplate="cellTemplate" width="70px" height="48px"></dxi-column>
                <dxi-column dataField="producto" dataType="string"></dxi-column>
                <dxi-column dataField="descripcion" dataType="string"></dxi-column>

                <div *dxTemplate="let cell of 'cellTemplate'">
                  <img width="60px" height="48px" [src]="cell.value" />
                </div>

              </dx-data-grid>



            </div>
          </ion-col>
        </ion-row>
      </ion-grid>




      <!--      <div class="virtual">  
        <iframe src="http://localhost:8100/cards" width="350" height="550"> </iframe>
      </div>
 -->
    </div>


  </div>



</ion-content>